/*    //   ALL START   \\     */

/* body {
  font-family: "Roboto", sans-serif !important;

  cursor: url("/src/images/kursor.png"), auto !important;

  background: #efefef;
} 
.container-fluid {
  font-size: calc(6px + 6 * ((100vw - 320px) / 680));
  font-family: "Roboto";
} */
#file-upload-button {
    display: inline-block;

    padding: 15px;

    background-color: #0db5c9;

    border-radius: 10px;

    color: white !important;

    transition: all 0.4s;

    text-decoration: none !important;

    outline: none !important;

}

input[type=file]::file-selector-button {
    background-Color: #1976d2;
    color: white;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    border: 0;
    min-width: 64px;
    padding: 6px 16px;
}

.card_list {
    padding: 50px;
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;

    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0db5c9;

    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #0db5c9;
}

/* scrolbar END */

.page-title h1,
.page-title h3 {
    font-weight: 300;
}

/* BUTTONS */

.blue_button {
    display: inline-block;

    padding: 15px;

    background-color: #0db5c9;

    border-radius: 10px;

    color: white !important;

    transition: all 0.4s;

    text-decoration: none !important;

    outline: none !important;
}

.blue_button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    background-color: #098896;

    color: white;
}

/* BUTTONS END */

/*    //   SIDEBAR START   \\     */

.sidebar-menu-container {
    /* background: rgba(0, 0, 0, 0.9); */

    background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.774)),
    url("/src/images/sidebar-background.jpg") no-repeat;

    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 20px;
    height: 100vh;
    /* overflow: auto; */
    direction: rtl;

    /* background: rgb(0, 0, 0); */

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#adm {
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
    /* letter-spacing: .2em; */
}

.sidebar-company-title select {
    background-color: transparent;

    padding-left: 15px;

    padding-right: 15px;

    border: none;

    color: white;

    /* opera select \/ */
    border-radius: 100%;

    font-family: "Roboto";
}

.sidebar-menu-wrapper {
    padding: 0;

    list-style-type: none;
}

.sidebar-menu-wrapper .sidebar-menu-item .sidebar-single-item {
    text-decoration: none;
    padding: 12px;
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
    color: white;
    /* font-size:large; */
    font-weight: lighter;
    /* padding-left:30px; */
    /* padding-right:30px; */
    padding-left: calc(15px + 6 * ((100vw - 320px) / 680));
    padding-right: calc(15px + 6 * ((100vw - 320px) / 680));
    transition: all 0.4s;
    display: flex;
}

/* dla laptopow */
@media only screen and (max-height: 800px) and (max-width: 1400px) {
    .sidebar-menu-wrapper .sidebar-menu-item a {
        text-decoration: none;
        /* padding: 7px; */
        font-size: calc(6px + 6 * ((100vw - 320px) / 680));
        color: white;
        /* font-size:large; */
        font-weight: lighter;
        /* padding-left:30px; */
        /* padding-right:30px; */
        transition: all 0.4s;
        display: flex;
    }

    .sidebar-menu-container {
        height: 100vh;
    }
}

.sidebar-menu-wrapper .sidebar-menu-item a:hover {
    padding-left: 25px;
}

select {
    /* remove arrow */
    -webkit-appearance: none;
    /* add some padding for image */
    padding-right: 15px;
    /* apply SVG with arrow */
    /* change width value to move arrow to the left */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 15 15"><path d="M 8,5.5 11,9.5 14,5.5 z"></path></svg>');
    background-repeat: no-repeat;
    padding-right: 20px;
    background-position: center right;
}

.select-company {
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 15 15"><path d="M 8,5.5 11,9.5 14,5.5 z"></path></svg>');
}

.sidebar-menu-wrapper .sidebar-menu-item {
    align-items: center;
    /* margin-left: 15%; */
    font-size: 15px;
}

.ikona_menu {
    margin-right: 15px;

    transition: all 0.4s;

    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
}

.sidebar-menu-wrapper .sidebar-menu-item a:hover .ikona_menu {
    margin-right: 5px;
}

/* mobile sidebar */

@media only screen and (max-width: 575px) {
    .ikona_menu {
        font-size: 15px;
    }

    /* .sidebar-menu-wrapper li a{
          margin-top: 0px !important;
          font-size: 15px !important;
      } */
    .sidebar-menu-item {
        margin: 0 !important;
    }

    .sidebar-menu-item a {
        font-size: 15px !important;
    }

    .container-fluid {
        font-size: 15px !important;
    }
}

@media only screen and (max-height: 750px) {
    /* .sidebar-menu-container{
          height: 100% !important;
      } */
}

/* mobile sidebar end */

/* Zgłoszenia */

.reports_table {
    overflow: auto;
    width: 100vw;
}

/* users */
.container_users {
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
    font-family: "Roboto";
    overflow: auto;
    height: 100vh;
}

/* Uzytkownicy tabela */
.table a,
.table i {
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
}

/* statystyki tabela */
.stats_table {
    overflow: auto;
    height: 70vh;
}

/* uzytkownicy tabela */
.users_table {
    overflow: auto;
    width: 100vw;
}

.edit_status {
    display: none;
    padding-left: 0 !important;
    text-align: left;
}

/*    //   Helper   \\     */

.selector {
    font-family: "Roboto";
    border: none;
    /* opera select \/ */
    /* border-radius: 100%; */
    padding: 0px 20px 0px 0px;
    background-color: transparent;
}

.selector:focus {
    outline: none;
}

.selector option {
    background-color: transparent;
}

.car_date {
    background: transparent;
    width: 140px;
    margin-right: 20px;
    margin-left: 0px !important;
    border: none;
}

.car_date:focus,
.car_date:active {
    border: none;
    outline: none;
}

.text-center {
    text-align: center;
    font-size: large;
    font-family: Roboto;
}

/* Karty */

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    margin-bottom: 30px !important;
    margin-right: 30px !important;

    transition: all 0.4s;

    border-radius: 10px !important;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin-bottom: 30px !important;
}

.card a:hover {
    text-decoration: none;
}

/* SEARCHBOX */

.wrapper_searchbox {
    position: relative;

    display: inline-block;

    max-width: 220px;
    min-width: 130px;
}

.wrapper_searchbox input {
    background-color: transparent;

    border: none;

    outline: none;

    width: 100%;

    font-size: 1em;

    box-sizing: border-box;

    padding-bottom: 5px;

    border-bottom: 2px solid #797979;
}

.wrapper_searchbox input:focus + .underline {
    width: 100%;
}

.wrapper_searchbox .underline {
    position: absolute;

    bottom: 0;

    left: 50%;

    transform: translateX(-50%);

    height: 2px;

    width: 0;

    background-color: #0db5c9;

    transition: 0.5s;
}

/* END SEARCHBOX */

.car_info p {
    margin: 0;
}

.car_info {
    padding: 30px;

    background-color: white;

    border-radius: 25px;

    overflow: auto;
}

/* add new car */

.new_car_form {
    padding-left: 10vw !important;

    padding-right: 10vw !important;

    height: 80vh;

    overflow: auto;
}

.new_car_form .btn-primary {
    background-color: #0db5c9 !important;
}

.btn-apply {
    padding: 10px;
    margin-left: -10px;
}

.modal_form {
    margin: 0 auto;
}

@media screen and (max-width: 1250px) {
    .sidebar-menu-wrapper .sidebar-menu-item {
        margin-left: 0;
        margin-right: 0;
        display: flex;
    }
}

@media screen and (max-height: 330px) and (max-width: 600px) {
    .sidebar-menu-wrapper .sidebar-menu-item a {
        margin: 0;
        padding: 0;
    }
}

/* Zewnetrzne cssy */

/* kilometrówka */
.map_container .map {
    height: 50vh;
    width: 50vw;
    background-color: chartreuse !important;
    margin: 0px auto;
}

.kilometrowki-container {
    font-family: Roboto;
    height: 100vh;
    overflow: auto;
}

.kilometrowki-container div h2 {
    font-weight: lighter;
    margin-bottom: 20px;
}

/* settings.css */
.btn_settings {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    background-color: #4ec9d8;
    border: none;
    padding: 5px 20px 5px 20px;
}

.check_settings:checked {
    background-color: #4ec9d8 !important;
}

.personalData {
    display: inline-block;
}

span {
    display: inline-block;
}

.first-box {
    /* overflow: auto; */
}

.container {
    display: block;
    position: relative;
    font-size: 22px;
    margin-bottom: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 360px) {
    .container {
        margin-left: 40px;
    }
}

.container input {
    /* position: absolute; */
    /* opacity: 0; */
    /* height: 0; */
    /* width: 0; */
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.settings-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* single_car.css */
.single_car_info {
    text-align: center;
    align-items: center;
}

.single_car_info div {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.single_cars {
    margin: 0 auto;
}

.single_cars_info .single_cars:first-child .single_car_info div {
    background-color: purple;
}

.single_cars_info .single_cars:nth-child(2) .single_car_info div {
    background-color: #0db5c9;
}

.single_cars_info .single_cars:last-child .single_car_info div {
    background-color: yellow;
}

.single_car_circle div span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.car_content {
    overflow: auto;
    height: 100vh;
}

/* simple_car.css */

.container-fluid {
    font-family: "Roboto";
    font-size: calc(11px + 2 * ((100vw - 320px) / 680));
}

.img_simple_car {
    border-radius: 20%;
    object-fit: cover;
    max-height: 10vh;
}

p {
    white-space: nowrap;
}

.btn {
    color: white;
    background-color: #4ec9d8 !important;
    border: none;
}

.simple_car_content {
    overflow: auto;
    width: 300px;
}

.simple_car_container {
    position: relative;
    vertical-align: middle;
    align-items: center;
}

.simple_car_container .button_class {
    display: flex;
    vertical-align: bottom;
    margin-left: 30px;
}

.simple_car_container .button_class .btn {
    border: none;
    background-color: #4ec9d8 !important;
    margin: 0 auto;
    color: white;
    font-family: Roboto;
    padding: 10px 20px 10px 20px;
}

.btns {
    width: 120px;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .btns {
        width: 80px;
    }
}

/* tabela */

.simple_car_table tr > td {
    border: none;
    padding: 4px;
}

/* single_car statystyki */

.single_car_info {
    text-align: center;
    align-items: center;
}

.single_car_info div {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 20px;
}

.single_cars {
    margin: 0 auto;
}

.single_cars_info .single_cars:first-child .single_car_info div {
    background-color: purple;
}

.single_cars_info .single_cars:nth-child(2) .single_car_info div {
    background-color: #0db5c9;
}

.single_cars_info .single_cars:last-child .single_car_info div {
    background-color: #c3b121;
}

.single_cars_info .single_cars .single_car_info_doc div {
    padding: 0;
    /* background-image: url('/flota/assets/img/docs.jpg') !important; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 180px;
}

.single_car_circle div span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.car_content {
    overflow: auto;
    height: 100vh;
}

.page {
    overflow: auto;
    height: 100vh;
}

/* tabele nav*/
#tabs-container .hide {
    display: none;
}

#tabs-container .show {
    display: block;
}

#tabs-container {
    max-height: 400px;
    overflow: auto;
}

.as-box-rounded-white {
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    opacity: 0.9;
}

/* modal img docs*/
@media only screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 768px !important;
        margin: 1.75rem auto;
    }
}
